@font-face {
  font-family: latinModernMonoLight;
  src: url(fonts/lmmonoproplt10-light.otf);
}

@font-face {
  font-family: latinModernMono;
  src: url(fonts/lmmonoprop10-regular.otf);
}

.App {
  background-color: rgb(238, 224, 189);
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
}

.App-header {
  background-color: #aaaaaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  color: rgb(112, 69, 13);
}

.profile-column {
  flex: 50%;
  padding-left: 25%;
  margin-right: 100px;
}

.title {
  font-family: latinModernMono;
  font-size: 400%;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  font-family: latinModernMono;
  font-size: 180%;
  margin-block: 0;
}

.underlined {
  text-decoration: underline;
}

.links-column {
  flex: 50%;
  padding-right: 15%;
}

.profile-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-row {
  display: flex;
}

.rounded-rect-icon {
  height: auto; 
  width: auto; 
  max-width: 50px; 
  max-height: 50px;
  border: none;
  padding-inline: 4px;
}

.rounded-rect-button {
  background-color: rgb(240, 240, 240);
  min-height: auto;
  width: 300px;
  max-width: 300px;
  height: auto;
  padding: 0;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  gap: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 3px solid rgb(138, 86, 17);
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 10px rgb(138, 86, 17);
}

.rounded-rect-button img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  flex-shrink: 0;
}

.rounded-rect-button:hover {
  background-color: white;
  transform: scale(1.03);
}