*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: latinModernMonoLight;
  src: url(fonts/lmmonoproplt10-light.otf);
}

@font-face {
  font-family: latinModernMono;
  src: url(fonts/lmmonoprop10-regular.otf);
}

.App {
  background-color: rgb(238, 224, 189);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

* {
  color: rgb(112, 69, 13);
}

.profile-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: latinModernMono;
  font-size: 280%;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  font-family: latinModernMono;
  font-size: 150%;
  margin-block: 0;
}

.underlined {
  text-decoration: underline;
}

.links-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-row {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
}

.rounded-rect-icon {
  height: auto;
  width: auto;
  max-width: 50px;
  max-height: 50px;
  border: none;
}

.rounded-rect-button {
  background-color: rgb(240, 240, 240);
  height: auto;
  min-height: auto;
  width: fit-content;
  min-width: 300px;
  max-width: 70%;
  padding: 0;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  gap: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 3px solid rgb(138, 86, 17);
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 10px rgb(138, 86, 17);
}

.rounded-rect-button img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  flex-shrink: 0;
}

.rounded-rect-button:hover {
  background-color: white;
  transform: scale(1.03);
}

/* CSS styles for tablet screens and larger */
@media (min-width: 768px) {
  .App {
    flex-direction: row;
  }

  .title {
    font-size: 300%;
  }

  .subtitle {
    font-size: 200%;
  }
}

.email-row {
  display: flex;
  flex-direction: row;
}

/* CSS styles for desktop */
@media (min-width: 1024px) {
  .App {
    flex-direction: row;
  }

  .title {
    font-size: 400%;
  }

  .profile-column {
    margin-right: 100px;
  }

  .subtitle {
    font-size: 220%;
  }

  .rounded-rect-button {
    width: 300px;
    max-width: 300px;
  }
}
