.Recaptcha {
  width: calc(380px + 5vmin);
}

.blue-box {
  background-color: #1a74ec;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #ffffff;
  padding: 20px;
}

.captcha-text-smaller {
  font-family: "Roboto", sans-serif;;
  font-size: calc(6px + 1vmin);
  margin: 0;
  padding: 0;
}

.captcha-text-regular {
  font-family: "Roboto", sans-serif;;
  font-size: calc(2vmin);
  margin: 0;
  padding: 0;
}

.captcha-text-bold {
  font-family: "Roboto", sans-serif;;
  font-size: calc(14px + 2vmin);
  font-weight: bold;
  margin-block: 3px;
  padding: 0;
}

.grid {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    place-items: center;
    padding: 5px;
}

.buttons-box {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.info-button {
  background-color: #ffffff;
  color: #727272;
  border: none;
  font-size: 30px;
}

.proceed-button {
  background-color: #1a74ec;
  color: #ffffff;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;;
  font-weight: 500;
  font-size: 14px;
}